<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <img src="../../../assets/bit.jpeg" routerLink="/home"class="bitimg">
    </div>
  </nav>
  
  
  <div class="row" style="padding-left: 8%; padding-right: 8%;">
    
    <h3> <i class="fa-solid fa-paper-plane" style="zoom: .9;"></i>   Conferencias</h3>
    <hr style="height: 2px; background-color: #625252;">
    <h3 style="color: #AE1E6A; padding-left: 3%;">DIA UNO</h3>
  </div>

  <br>
  
  
  
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/future & work-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Ponente</p>
            <h4 class="card-title">Conferencia Magistral | FUTURE & WORK
            </h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <br>
            <p class="card-text">Inicio: 09:20</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/startup.png" alt="">
          <div class="card-body">
            <p class="card-text">Aarón Benítez | DR. Alfonso Martínez Cruz</p>
            <h4 class="card-title">“Hacks para fundar startups en México”.
              Tendencias actuales en IoT y la llegada de IoT 2.0</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 10:30</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/mech & tech-01.png" alt="">
          <div class="card-body">
            <p class="card-text">AMAZON | ING. Jennifer Hernández Vázquez</p>
            <h4 class="card-title">MAGISTRAL | MECH & TECH: "Servicios en la nube 
              y programas educativos AWS".</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 11:30</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/inclusion & equality (1)-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Raúl Montiel</p>
            <h4 class="card-title">INCLUSION & EQUALITY</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <br>
            <p class="card-text">Inicio: 12:40</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/startup.png" alt="">
          <div class="card-body">
            <p class="card-text">Sergio Sosa</p>
            <h4 class="card-title">"Neuroconsumo, un nuevo enfoque para el 
              emprendimiento".</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 13:40</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/mech & tech-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Pablo Belmar</p>
            <h4 class="card-title">"NLP Bank. La importancia de estar informados".</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 15:10</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top" src="../../../assets/inovations trends-01.png" alt="">
          <div class="card-body">
            <p class="card-text">Jonathan Bazán | BIOMAKERS </p>
            <h4 class="card-title">“Tecnología Bionica BioMakers AI"</h4>
            <p class="card-text">Tiempo estimado: 1 hora</p>
            <p class="card-text">Inicio: 16:10</p>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Unirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>